<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Origin" providerName="System.Data.SqlClient" connectionString="Server=.\\;Database=TBD;Trusted_Connection=True" />
  </connectionStrings>
  <appSettings>
    <add key="OutputDirectory" value="C:\\Dev\\myproject\\sqldump_output" />
  </appSettings>
</configuration>